<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration file for LogBack (slf4J implementation)
See here for more details: http://gordondickens.com/wordpress/2013/03/27/sawing-through-the-java-loggers/ -->
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        	<!--
            <pattern>%d{HH:mm:ss}> %-5level %logger{0} - %msg%n</pattern>
            -->
            <pattern>%d{HH:mm:ss.SSS}.%thread> %-5level %F:%L - %msg%n</pattern>
        </encoder>
    </appender>

	<appender name="dailyRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/cds4242/log/stat_service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/cds4242/log/stat_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
            <pattern>%d{HH:mm:ss.SSS}.%thread> %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="errdailyRolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/home/cds4242/log/stat_service.err</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/cds4242/log/stat_%d{yyyy-MM-dd}.err</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
            <pattern>%d{HH:mm:ss.SSS}.%thread> %-5level - %msg%n</pattern>
		</encoder>
	</appender>

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="dailyRolling"/>
        <appender-ref ref="errdailyRolling"/>
    </root>
</configuration>
